@import "../../vars.css";

.container {
  color: var(--color-text);
  background-color: rgb(3, 3, 3);
  padding-top: 79px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.title {
  /* color: var(--color-text); */
  color: rgb(241, 237, 237);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  height: 400px;
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
}

.skillTitle {
  color: black;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  /* background-color: var(--color-secondary); */
  background-color: rgba(231, 231, 231, 0.928);
  opacity: 0.5;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  mix-blend-mode: darken;
  height: 80px;
  object-fit: cover;
  width: 80px;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
  color: black;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: black;
  /* background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%); */
  /* background-color: #19376d; */
  border-radius: 10px;
  padding: 24px;
}

.itemLi {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
  font-size: 19px;
}

.historyItem:hover {
  color: black;
  background-color: rgb(255, 253, 250);
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 24px;
  font-weight: 500;
}

.historyItemDetails p {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }

  .skills {
    height: 200px;
    margin: 20px 0;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    margin: 20px 0;
  }

  .itemLi {
    margin: 16px 0;
  }
}

@media screen and (max-width: 550px) {
  .skills {
    height: 300px;
    margin: 20px 0;
  }
}
